<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Block -->
    <preference for="Magento\Checkout\Block\Cart" type="SprayGround\Checkout\Block\Cart"/>
    <preference for="Magento\Checkout\Block\Cart\Sidebar" type="SprayGround\Checkout\Block\Cart\Sidebar"/>


    <!-- CustomerData -->
    <preference for="Magento\Checkout\CustomerData\DefaultItem" type="SprayGround\Checkout\CustomerData\DefaultItem"/>

    <!-- Model -->
    <preference for="Magento\Checkout\Model\Session" type="SprayGround\Checkout\Model\Session" />
</config>
